{% extends 'index.html' %}

<!DOCTYPE html>

{%block titulo%}Crear un Empleado{%endblock titulo%}
{% block section %}Crear un Empleado{% endblock section %}

{% block content%}

<div class="card mb-4 py-3 border-left-success">
    <div class="col-12">
      <!-- Form -->
      <form method="POST">
        {%csrf_token%}
        <div class="row">
            <div class="col-3">
              <p style="margin-bottom: 0px;">DNI</p>
              {{empleado_form.dni}}
            </div>

            <div class="col-3">
              <p style="margin-bottom: 0px;">Nombre:</p>
              {{empleado_form.nombre}}            <!-- Ver como hacer para cargar solo los equipos de ese cliente-->
            </div>
            
            <div class="col-3">
              <p style="margin-bottom: 0px;">Apellido</p>
              {{empleado_form.apellido}}
            </div>

            <div class="col-3">
              <p style="margin-bottom: 0px;">Fecha de Nacimiento:</p>
              {{empleado_form.fechaNac}}
            </div>

        </div>
        

        <div class="row">
          <div class="col-3">
            <p style="margin-bottom: 0px;">Sexo:</p>
            {{empleado_form.sexo}}
          </div>
          
          <div class="col-3">
            <p style="margin-bottom: 0px;">Domicilio:</p>
            {{empleado_form.domicilio}}
          </div>

          <div class="col-3">
            <p style="margin-bottom: 0px;">Telefono:</p>
            {{empleado_form.telefono}}
          </div>
          
          <div class="col-3" style="margin-left: 0px;">
            <p style="margin-bottom: 0px;">Correo Electronico:</p>
            {{empleado_form.correoElectronico}}
          </div>
      </div>
      
      <div class="row">
        <div class="col-3">
          <p style="margin-bottom: 0px;"> Turno:</p>
          {{empleado_form.turno}}
        </div>
    </div>
  
    <hr>
    <button type="submit" class="btn btn-success" style="float: right; margin: 1%;">
      <i class="fa fa-plus"></i> Crear
    </button>
  
        <button type="button" class="btn btn-secondary" onclick="window.history.back()" style="float: right;margin: 1%;">
          <i class="fa fa-reply"></i> Volver
        </button>
  
      </form>
      <!--end Form -->
    </div>
  </div>

<!-- List -->
{% if empleado%}
<div class="card shadow">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-secondary">Listado de Empleados</h6>
        </div>
        <div class="card-body">
           <div class="table-responsive">
            <table class="table table-bordered dataTable" id="dataTable">
                <thead>
                  <tr>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Sexo</th>
                    <th>Domicilio</th>
                    <th>Telefono</th>
                    <th>Correo Electronico</th>
                    <th>Empresa del cliente</th>
                  </tr>
                </thead>
                <tbody>
                {%for emp in empleado%}
                  <tr>
                    <td style="text-align: left;">{{emp.dni}}</td>
                    <td style="text-align: left;">{{emp.nombre}}</td>
                    <td style="text-align: left;">{{emp.apellido}}</td>
                    <td style="text-align: left;">{{emp.fechaNac}}</td>
                    <td style="text-align: left;">{{emp.sexo}}</td>
                    <td style="text-align: left;">{{emp.domicilio}}</td>
                    <td style="text-align: left;">{{emp.telefono}}</td>
                    <td style="text-align: left;">{{emp.correoElectronico}}</td>
                    <td style="text-align: left;">{{emp.nombreEmpresa}}</td>
                    <td width="10%" align="center">
                          <div class="table-data-feature">
                            <button type="button" class="btn btn-info" onclick="location.href='/Personas/editar_empleado/'">Ver mas</button>
                          </div>
                      </td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
        </div>
  </div>

</div>
{% else %}
    <p>Aun no hay datos ingresados</p>
{% endif %}
<!-- end List -->

{% endblock content%}

